__pycache__/

# hatch build output
dist/
# bazel compilation directories
src/hatch_bazel_and_pybind11/cpp/bazel-*
# build artifacts
src/hatch_bazel_and_pybind11/cpp/bazel_artifacts/
src/hatch_bazel_and_pybind11/cpp/pybind_extension.so
