__pycache__/

# hatch build output
dist/
# bazel compilation directories
src/hatch_bazel_and_pybind11/bazel-*
# build artifacts
src/hatch_bazel_and_pybind11/bazel_artifacts/
src/hatch_bazel_and_pybind11/pybind_extension.so
